<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rumah Buku FUKI</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}" />

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rumah Buku FUKI</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Tentang</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Cara</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#koleksi">Koleksi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Kontak</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Rumah Buku FUKI 2017</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Assalamu'alaykum Warahmatullahi Wabarakatuh<br>Ahlan wa Sahlan</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Tentang Kami</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Tentang Rumah Buku FUKI</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Rumah Buku merupakan tempat untuk peminjaman buku yang dimiliki oleh perpustakaan FUKI, dengan Rumah Buku mahasiswa Fasilkom UI dapat meminjam buku</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Mulai Pinjam!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cara Peminjaman di Rumah Buku FUKI</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a class="portfolio-box" href="{% static 'img/alur-buku-fuki1-01.png' %}">
                <img class="img-fluid" src="{% static 'img/alur-buku-fuki1-01.png' %}" alt="">
                <div class="portfolio-box-caption"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a class="portfolio-box" href="{% static 'img/alur-buku-fuki2-01.png' %}">
                <img class="img-fluid" src="{% static 'img/alur-buku-fuki2-01.png' %}" alt="">
                <div class="portfolio-box-caption"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a class="portfolio-box" href="{% static 'img/alur-buku-fuki3-01.png' %}">
                <img class="img-fluid" src="{% static 'img/alur-buku-fuki3-01.png' %}" alt="">
                <div class="portfolio-box-caption"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a class="portfolio-box" href="{% static 'img/alur-buku-fuki4-01.png' %}">
                <img class="img-fluid" src="{% static 'img/alur-buku-fuki4-01.png' %}" alt="">
                <div class="portfolio-box-caption"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="koleksi">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contoh Koleksi Buku</h2>
        <hr class="my-4">
      </div>
      <div class="container-fluid" style="padding: 0px 150px 50px 150px">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku1.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku1.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku2.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku2.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku3.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku3.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku4.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku4.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku5.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku5.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="{% static 'img/contohBuku/buku6.jpg' %}">
              <img class="img-fluid" height="380" width="250" src="{% static 'img/contohBuku/buku6.jpg' %}" alt="">
              <div class="portfolio-box-caption">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Lihat Koleksi Buku Di Sini!</h2>
        <a class="btn btn-light btn-xl sr-button" href="https://intip.in/rumahBukuFUKI2017" target="_blank">https://intip.in/rumahBukuFUKI2017</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Yuk Cari dan Pinjam Buku di Rumah Buku FUKI!</h2>
            <hr class="my-4">
            <p class="mb-5">Mudah dan banyak koleksinya, untuk pemesanan dan info lebih lanjut hubungi kontak berikut:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-right">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            
            <p>Shafira Fitri<br/>
            firashaff<br/>
            0859 598 75338</p>
          </div>
           <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            
            <p>Yumna Pratista<br/>
            veranda48<br/>
            62815 1403 3108</p>
          </div>
          <div class="col-lg-4 mr-auto text-left">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:yumnanaruto@gmail.com">yumnanaruto@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
